/* Remove default styles from the browser */
* {
    margin: 0;
    padding: 0;
}

/* Default style */
body {
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: aqua;
}

/* Main content */
main {
    background-color: blueviolet;
    /* Push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: brown;
}