/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Gafata&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Remove default styles from the browser */
* {
    margin: 0;
    padding: 0;
}

/* Default style */
body {
    color: black;
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    /* background-color: aqua; */
}

#menu {
    float: left;
    /* remove bullet points */
    list-style-type: none;
}

#menu li {
    /* Make list horizontal */
    float: left;
    margin-right: 1.5rem;
}

header a {
    /* Remove underline */
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
}

.current {
    /* Make current page underlined in Nav bar*/
    text-decoration: underline;
}

/* Main content */
main {
    /* background-color: blueviolet; */
    /* Push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    /* background-color: brown; */
}